body{
	margin: 0px;
	padding: 0px;
}
.navbar-brand{
	color: red;}
.nav-icon{
        background-color: #b3e77f;
  border-radius: 100%;
font-family: "Open Sans";
     text-align: center;
     font-size: 20px;
	position: relative;
    top:2px;
    height: 40px;
    width: 44px;
    z-index: 1;
    -webkit-user-select: none;
   color: white;
}
.collapse navbar-collapse{
	width: 100%;
	color: pink;
	font-size: 29px;
}
.far fa-bell,i{
	width: 50px;
	height: 33px;
    font-size:36px
	color: red;}
.myhost{width: 1415px;
	height: 2175px;
	left: 104px;
	margin-top:63px;}
.myhost,h1{
	margin-top: 140px;
padding-left: 100px;
font-family: "Open Sans";
line-height: 17px;
height: 98px;}
.jumbotron{
	width: 1115px;
	height: 202px;
    margin-left: 110px;
	background-color: #f9fbfb;}
.jumbotron,h3{
	padding:  6px;
	position: relative;
    margin-top: 15px;
   font-family: "Open Sans";
   
   color: #3ebcb3    ;
   font-size: 20px;
   line-height: 17px;}
.jumbotron,p{
	line-height: 1.4;
	color: #9ca4ab;
	 font-size: 18px;
	 font-weight: 400px;

}
#btn1{
	border-radius:7px; 
position: relative;
font-size: 12px;
font-weight:bold;
border:1.2px solid #3ebcb3;
margin: 15px;
display:inline-block;
font-family: arial; 
display: block;
text-decoration: none;
padding: 10px 30px;
background-color: transparent; color: #3ebcb3;}
}
.services-section{
 background-color: red;
 border:2px solid #3ebcb3;
  color: green;
  width: 100%;
border-radius: 90px;
}
.services-image{
	  border-radius:100px; 
	 float: left;
	  margin-left: 100px;
	  margin-bottom: 100px;
	 

}
.image-hed,h5{
	float: right;
	font-size: 15px;
	font-weight:bold;
	margin-left: 15px;
 font-weight: 400px;
	font-family: arial; 
	margin-top: 5px;
}
.image-hed,p{
	margin-top:20px;
	font-size: 18px;

}
.foot
{
	line-height: 1.6px;
	width: 100%;
    text-align: center;
	height: 200px;
    position: absolute;
    float: right;
    margin-top: 1550px;
    color: #a6a6a6;
    
}
.foot,h2{
	font-size: 20px;
}
.foot,h3{
	color:#a6a6a6;
}